---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
class: teaching-page
---

<div class="teaching-page">
  <h1>{{ page.title }}</h1>

  {% include base_path %}

  <section class="current-courses">
    <h2>Current Courses</h2>
    {% for post in site.teaching %}
    {% if post.category == "current" %}
    {% include archive-single.html %}
    {% endif %}
    {% endfor %}
  </section>

  <section class="previous-courses">
    <h2>Previous Courses</h2>
    {% for post in site.teaching %}
    {% if post.category == "previous" %}
    {% include archive-single.html %}
    {% endif %}
    {% endfor %}
  </section>

  <section class="supervision">
    <h2>Supervision</h2>
    {% for post in site.teaching %}
    {% if post.category == "supervision" %}
    {% include archive-single.html %}
    {% endif %}
    {% endfor %}
  </section>
</div>